table.fig {
  border-collapse: collapse;
}

table.fig td {
  height: 50px;
  width: 50px;
  padding: 0px;
  border: 1px solid #000;
  text-align: center;
}

table.fig td[class] {
  background-color: #999;
}

table.fig td[box] {
  background-color: #EF9A9A;
}

table.fig td[box][class] {
  background-color: #999;
}

table.fig td.r {
  border-right: none;
}

table.fig td.l {
  border-left: none;
}

table.fig td.u {
  border-top: none;
}

table.fig td.d {
  border-bottom: none;
}
